<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Welcome</title>

<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <h1>Hi</h1>
    <div class="container">
        <form th:action="@{/}" th:object="${registerForm}" method="POST" enctype="utf8" class="needs-validation" novalidate>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" th:field="*{username}" placeholder="Username" required />
                <div class="invalid-feedback">Please choose a username.</div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control form-control-user" th:field="*{email}" placeholder="Email" />
                <span class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" th:field="*{password}" placeholder="Password" />
                <span class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" th:field="*{passwordVerify}" placeholder="Repeat Password" />
                <span class="alert alert-warning" th:if="${#fields.hasErrors('passwordVerify')}" th:errors="*{passwordVerify}">Password Match Error</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
    </div>

    <script th:src="@{/lib/jquery/jquery.min.js}"
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{/lib/popper.js/popper.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>
</html>